set timeout=10
set default=0

insmod all_video
insmod png
insmod gfxterm


set gfxmode=1920x1080,auto
set gfxpayload=keep

loadfont /boot/الخطوط/الخط.pf2

terminal_output gfxterm

background_image --mode=stretch /boot/الخلفية.png

menuentry " تشغيل نظام العرب                                                                                                            " {
    multiboot2 /boot/النواه.elf
    module2 /النظام/الوسيط.img
    boot
}
